# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Ionic
gas-app/node_modules/
gas-app/.angular/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Otros
*.log
.env
*.md
